<!DOCTYPE html>
<html>

<head>
  <title>Flask Usecase</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  {% block script %}{% endblock %}
  
  
</head>

<body>
  <nav>
    <ul>
      <li><a class="link" href="/sports_salary">Search for sports and salary</a>
      <li><a class="link" href="/expenses">Expenses for food</a>
      <li><a class="link" href="/saved_query1">Saved Query</a>
    </ul>
  </nav>
  <section class="content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    <div class="div_form">
      {% block content %}{% endblock %}
    </div>
  </section>
</body>
</html>